<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } %>

        <p><%- messages() %></p>


        <div id="inbox">
            <div class="inbox-links">
                <a href="/messages/" class="black-links">Inbox</a>
            </div>
            <div id="messageList">
                <% if (archiveMessages && archiveMessages.length> 0) { %>
                    <table>
                        <thead>
                            <tr>
                                <th>Read</th>
                                <th>Sender</th>
                                <th>Subject</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% archiveMessages.forEach(function(message) { %>
                                <tr>
                                    <td>
                                        <input type="checkbox" <%=message.isRead ? 'checked' : '' %> disabled>
                                    </td>
                                    <td><a href="/messages/message/<%= message.message_id %>">
                                            <%= message.account_firstname %>
                                                <%= message.account_lastname %>
                                        </a></td>
                                    <td><a href="/messages/message/<%= message.message_id %>">
                                            <%= message.message_subject %>
                                        </a></td>
                                    <td><a href="/messages/message/<%= message.message_id %>">
                                            <%= new Date(message.message_created).toLocaleDateString() %>
                                        </a></td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>

                    <% } else { %>
                        <p>No Archived Messages</p>
                        <% } %>
            </div>
        </div>