<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } %>

        <p><%- messages() %></p>


        <div id="inbox">
            <div class="inbox-links">
                <a href="/messages/" class="black-links">Inbox</a>
            </div>
            <div id="messageList">
                <% if (archiveMessages && archiveMessages.length> 0) { %>
                    <ul class="message-list">
                        <li class="table-header">
                            <div class="cell">Read</div>
                            <div class="cell">Sender</div>
                            <div class="cell">Subject</div>
                            <div class="cell">Date</div>
                        </li>
                        <% archiveMessages.forEach(function(message) { %>
                            <li class="clickable-item">
                                <a href="/messages/message/<%= message.message_id %>" class="message-link">
                                    <div class="row">
                                        <div class="message-read cell">
                                            <% if (message.message_read) { %>
                                                &#x2611;
                                                <% } else { %>
                                                    &#x2610;
                                                    <% } %>
                                        </div>
                                        <div class="message-sender cell">
                                            <%= message.account_firstname %>
                                                <%= message.account_lastname %>
                                        </div>
                                        <div class="message-subject cell">
                                            <%= message.message_subject %>
                                        </div>
                                        <div class="message-date cell">
                                            <%= new Date(message.message_created).toLocaleDateString() %>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <% }) %>
                    </ul>
                    <% } else { %>
                        <p>No Archived Messages</p>
                        <% } %>
            </div>
        </div>