<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } %>
        <p>
            <%- messages() %>
                <% if (errors) { %>
                    <ul class="notice">
                        <% errors.array().forEach(error=> { %>
                            <li>
                                <%= error.msg %>
                            </li>
                            <% }) %>
                    </ul>
                    <% } %>
        </p>
        <p class="delete-msg">Are you sure you want to delete this Message?</p>
        <div class="message-details">
            <p>
                <%= messageDetails.message_created %>
            </p>
            <p>
                <%= messageDetails.account_firstname %>
                    <%= messageDetails.account_lastname %>
            </p>
            <p>
                <%= messageDetails.message_body %>
            </p>
        </div>
        <form id="deleteForm" action="/messages/deleteMessage" method="POST">
            <input type="hidden" name="id" value="<%= messageDetails.message_id %>">
            <button type="submit" class="black-links">Delete</button>
        </form>