<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } %>
        <p>
            <%- messages() %>
                <% if (errors) { %>
                    <ul class="notice">
                        <% errors.array().forEach(error=> { %>
                            <li>
                                <%= error.msg %>
                            </li>
                            <% }) %>
                    </ul>
                    <% } %>
        </p>
        <div class="messageWOptions">
            <div class="message-options">
                <a href="/messages/reply/<%= messageDetails.message_id %>" class="black-links">Reply</a>
                <a href="/messages/archiveMessage/<%= messageDetails.message_id %>" class="black-links">Archive</a>
                <a href="/messages/readMessage/<%= messageDetails.message_id %>" class="black-links">Mark As Read</a>
                <a href="/messages/deleteConf/<%= messageDetails.message_id %>" class="black-links">Delete</a>
            </div>
            <div class="message-details">
                <% if (messageDetails.message_archived) { %>
                    <p class="archived-notice"><b>Archived</b></p>
                    <% } %>
                        <p class="date">
                            <%= messageDetails.message_created %>
                        </p>
                        <p class="name">
                            <%= messageDetails.account_firstname %>
                                <%= messageDetails.account_lastname %>
                        </p>
                        <p class="subject">
                            <%= messageDetails.message_subject %>
                        </p>
                        <p>
                            <%= messageDetails.message_body %>
                        </p>
            </div>
        </div>
        <a href="/messages/" class="black-links inbox-btn">Inbox</a>