<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } %>
        <p>
            <%- messages() %>
                <% if (errors) { %>
                    <ul class="notice">
                        <% errors.array().forEach(error=> { %>
                            <li>
                                <%= error.msg %>
                            </li>
                            <% }) %>
                    </ul>
                    <% } %>
        </p>

        <form action="/messages/newMessage" method="post" class="new-message-form">
            <label for="message_to">Recipient:</label>
            <select id="message_to" name="message_to" required>
                <% recipients.forEach(recipient=> { %>
                    <option value="<%= recipient.account_id %>" <%=recipient.account_id==locals.message_to ? 'selected'
                        : '' %>>
                        <%= recipient.account_firstname %>
                            <%= recipient.account_lastname %>
                    </option>
                    <% }) %>
            </select>
            <label for="message_subject">Subject:</label>
            <input type="text" id="message_subject" name="message_subject" required
                value="<%= locals.message_subject %>" placeholder="Subject">
            <label for="message_body">Message:</label>
            <textarea id="message_body" name="message_body" required
                placeholder="Enter message here"><%= locals.message_body %></textarea>

            <input type="submit" value="Submit">
        </form>